<div>
  <div class="action-buttons">
    <button (click)="run()">Run</button>
  </div>
  <div class="table">
    <div class="row">
      <div class="cell width50">
          <app-editor mode="html" (contentChange)="htmlChange($event)"></app-editor>
      </div>
      <div class="cell width50">
        <app-editor mode="css" (contentChange)="cssChange($event)"></app-editor>
      </div>
    </div>
    <div class="row">
      <div class="cell width50">
          <app-editor mode="javascript" (contentChange)="jsChange($event)"></app-editor>
      </div>
      <div class="cell width50">
        <!-- <app-demo></app-demo> -->
        <iframe #iframe>
          <!doctype html>
          <html>
            <head>
          
            <style>
              
            </style>
          </head>
          <body>

          </body>
          </html>
        </iframe>
      </div>
    </div>
  </div>
</div>